﻿/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:after, *:before {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    font-size: inherit;
    font-family: inherit;
}

button:active {
    outline: none;
}

/* page styles */
@font-face {
    font-family: 'PartyDown';
    src: url('/PartyDown-Fill.otf') format('opentype');
}

body {
    background: #F9EFE6;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#shapeliser {
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    max-height: 700px;
    position: relative;
    padding: 0 1em;
}

h1 {
    font-family: 'PartyDown', serif;
    font-size: 6vh;
    opacity: 0.8;
    margin-bottom: 0.5em;
}

canvas {
    background: white;
    border: solid 1px buttonface;
    width: 100%;
    height: calc(100% - 6vh - 8em);
}

.command-input-container {
    position: absolute;
    bottom: 1em;
    right: 1em;
    left: 1em;
    height: 3em;
    font-family: Consolas, monospace;
}

.command-input-container input {
    padding: 1em;
    width: calc(90% - 3em);        
    border: 1px solid buttonface;
}

.command-input-container button {
    font-family: Consolas, monospace;
    padding: 1em;
    border: 1px solid buttonface;
    float: right;
}

.command-input-container button:hover {
    cursor: pointer;
}